@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --font-color: white;
  --font-style: 'Lato', sans-serif;
}

.section1 {
  background-image: url('../assets/Mobile.png');
  background-position: center;
  background-size: cover;
  height: 55vh;
}

.section2 {
  background: #1e1c1c;
  height: 45vh;
}

h1 {
  display: flex;
  justify-content: center;
  color: white;
}

h2 {
  font-weight: 600 !important;
  font-family: var(--font-style);
  color: var(--font-color);
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}

h5 {
  font-family: var(--font-style);
  color: var(--font-color);
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
  font-size: 0.9rem !important;
  letter-spacing: 0.15rem;
}

#menu {
  position: absolute;
  right: 1rem;
  top: 1rem;
  fill: white;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.hero {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.big-weather {
  font-size: 3.5rem;
  margin-top: 0.5rem;
}

.title {
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.container img {
  margin-top: 1rem;
  width: 12rem;
}

.weather-image {
  margin: 1rem 0;
  max-width: 70%;
}

.coluna {
  display: flex;
  flex-flow: column wrap;
  justify-content: flex-start;
  align-items: center;
}

.temperature {
  font-size: 1.75rem;
  font-family: var(--font-style);
  color: var(--font-color);
  margin-bottom: 0;
}

.week-day {
  font-size: 0.9rem;
  font-family: var(--font-style);
  color: var(--font-color);
  margin-bottom: 0;
}
