* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.form form label {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 1rem 1rem 1rem 1rem;
}

.form form label select {
  padding-left: 0.6rem;
  padding-right: 0.6rem;
}
